{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<section class="pt-7">
  <div class="container pd-4">
    <!--==========  carousel  ==============-->
    <div class="row align-items-center">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{url_for('static',filename='img/carousel/COMBO_1.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='img/carousel/COMBO_2.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='img/carousel/COMBO_3.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='img/carousel/COMBO_5.jpg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static',filename='img/carousel/COMBO_6.jpg')}}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="pt-7">
  <div class="container pd-4">
    <div class="row align-items-center">
      <div class="col-md-6 text-md-start text-center py-6">
        <h1 class="mb-4 fs-9 fw-bold">Navper Publicidad</h1>
        <p class="mb-6 lead text-secondary">Somos expertos en diseño y publicidad, <br class="d-none d-xl-block" />¡todo
          en un solo lugar! <br class="d-none d-xl-block" />y trengran la mejor
          experiencia de usuario.</p>
        <div class="text-center text-md-start"><a class="btn btn-warning me-3 btn-lg" href="#!" role="button">
            Empesar</a><a class="btn btn-link text-warning fw-medium" href="#!" role="button" data-bs-toggle="modal"
            data-bs-target="#popupVideo"><span class="fas fa-play me-2"></span>Ver el Video </a></div>
      </div>
      <div class="col-md-6 text-end"><img class="pt-7 pt-md-0 img-fluid"
          src="{{url_for('static',filename='img/hero/hero-img.jpg')}}" alt="" /></div>
    </div>
  </div>

</section>


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class=" pt-3 pt-md-4 mb-6" id="servicio">

  <div class="bg-holder z-index--1 bottom-0 d-none d-lg-block"
    style="background-image:url_for('static',filename='img/category/shape.png');opacity:.1;">
  </div>
  <!--/.bg-holder-->

  <div class="container">
    <h1 class="fs-9 fw-bold mb-4 text-center">Somos lider en la personalizaciòn <br class="d-none d-xl-block" />
      de produtos, visita nuestro portafolio</h1>
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3"
          src="{{url_for('static',filename='img/category/icon2.1.png')}}" width="200" alt="Feature" />
        <h4 class="mb-3">Sublimaciòn</h4>
        <p class="mb-0 fw-medium text-secondary">Tenemos una gran variedad de tazas,</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3"
          src="{{url_for('static',filename='img/category/icon2.2.png')}}" width="200" alt="Feature" />
        <h4 class="mb-3">Tarjeterìa social</h4>
        <p class="mb-0 fw-medium text-secondary"></p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3"
          src="{{url_for('static',filename='img/category/icon2.3.png')}}" width="200" alt="Feature" />
        <h4 class="mb-3">Impresiòn a gran formato</h4>
        <p class="mb-0 fw-medium text-secondary">realizamos impresiòn de gran formato y en diferentes materiales .
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2"> <img class="mb-3 ms-n3"
          src="{{url_for('static',filename='img/category/icon2.4.png')}}" width="200" alt="Feature" />
        <h4 class="mb-3">Encuadernaciòn</h4>
        <p class="mb-0 fw-medium text-secondary">Realizamos encuadernaciòn personalizada.</p>
      </div>
      </div><!-- end of .container-->

</section>

<!-- body -->
<section >
  <h1 class="fs-9 fw-bold mb-4 text-center">Este es nuestro trabajo <br class="d-none d-xl-block" />
    </h1>
<div id="demos">
  <div class="row align-items-center">
    <div class="large-20 columns">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-1.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-2.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-3.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-4.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-5.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-6.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-7.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-8.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-9.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-10.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-11.png')}}" width="260" height="250" alt="">
        </div>
        <div class="item">
          <img src="{{url_for('static',filename='img/carousel/logos/logo-12.png')}}" width="260" height="250" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</section>


<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-5" id="manager">
  <h3 class="text-center">Productos en oferta </h3>
  <div class="container">
    <div class="row">
      <!-- Gallery -->
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img src="{{url_for('static',filename='img/manager/1.5.png')}}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

          <img src="{{url_for('static',filename='img/manager/2.4.png')}}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 ">
          <video class="img-fluid" autoplay loop muted>

            <source src="{{url_for('static',filename='img/manager/2.3.mp4')}}" type="video/mp4"
              class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
          </video>

          <img src="{{url_for('static',filename='img/manager/1.4.png')}}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="{{url_for('static',filename='img/manager/1.3.png')}}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea" />

          <img src="{{url_for('static',filename='img/manager/2.5.png')}}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park" />
        </div>
      </div>
      <!-- Gallery -->
    </div><!-- end of .container-->
    {% endblock %}